<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/change_trainer_password_post">
    <table width="646" height="248" border="1">
      <tr>
        <th width="80" scope="row">Current Password</th>
        <td width="168"><label for="textfield"></label>
        <input type="text" name="current_password" id="current_password" /></td>
      </tr>
      <tr>
        <th scope="row">New Password</th>
        <td><label for="textfield2"></label>
        <input type="text" name="new_password" id="new_password" /></td>
      </tr>
      <tr>
        <th scope="row">Confirm password</th>
        <td><label for="textfield3"></label>
        <input type="text" name="confirm_new_password" id="confirm_new_password" /></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" /></th>
      </tr>
    </table>
</form>
</body>
</html>
