<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="/change_password">Change Password</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/addTrainer">Add Trainer</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/viewTrainer">View Trainer</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/addEvent">Add Event</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/viewEvent">View Event</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/addBatch">Add Batch</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/viewBatch">View Batch</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/viewUsers">View User</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_payment">view Payment</a></th>
    </tr>
  </table>
</form>
</body>
</html>
